<table id="EnquiresTable">
	<tr>
		<th>
			Contact Name:
		</th>
		<td>
			<%= @owner.forename %>
			<%= @owner.surname %>
		</td>
	</tr>
	<tr>
		<th>
			About:
		</th>
		<td>
			<%= @owner.aboutme %>
		</td>
	</tr>
	<tr>
		<th>
		</th>
		<td>
		</td>
	</tr>
</table>