<div>
	<h2>
	Fill out this area with your details to email the DJ!:
	</h2>
	<%= form_tag(:action => 'new') do %>
		<%= text_area_tag "enquires[description]", nil, :id=>"enquires_form_Area" %>
		
		<%= submit_tag "Make the Enquiry!", :class => "send_buttons" %>
	<% end %>
</div>