<div>
	<span>
	Fill out our enquiries form to email us for information:
	</span>
	<%= form_tag(:action => 'index') do %>
		<%= text_area_tag "enquires[description]" %>
		
		<%= submit_tag "Send" %>
	<% end %>
</div>