<div id="UserContent">
	<p>
		<%= @user.forename %> <%= @user.surname %>
	</p>
	<p>
		About me: <%= @user.aboutus %>
	</p>
</div>


<% if isAdmin %>
	<span>
		<%= link_to 'Edit Your Account', edit_user_path(@user) %>
	</span>
<% end %>

