<div id="LeftBar">
	<div id="LeftBarPicture">

	</div>
	<div id="news">
		<span id="LeftBarNews">
			News
		</span>
	</div>
</div>
<div id="RightBar">
	<div>
		<span id="RightBarEvents">
			Events
		</span>
	</div>
</div>