<h1>Showing News:</h1>
<div id="indexContents">
	<div id="indexContentTitle">
		<%= link_to @news.title, news_path(@news) %>
	</div>
	<div id="indexContentContent">
		<%= @news.content %>
		<% if isAdmin %>
			<%= link_to 'Edit', edit_news_path(@news) %>
		<% end %>
	</div>
	<br />
</div>
<%= link_to 'View Other News', news_index_path %>